<div class="cube-container">
  <div #container class="cube-viewport" ></div>
  <div class="controls-container">
    <div class="button-row">
      <button (click)="F()" class="control-button">front</button>
      <button (click)="B()" class="control-button">back</button>
      <button (click)="L()" class="control-button">left</button>
      <button (click)="R()" class="control-button">right</button>
      <button (click)="U()" class="control-button">top</button>
      <button (click)="D()" class="control-button">bottom</button>
    </div>
    <div class="button-row">
      <button (click)="Fi()" class="control-button">front i</button>
      <button (click)="Bi()" class="control-button">back i</button>
      <button (click)="Li()" class="control-button">left i</button>
      <button (click)="Ri()" class="control-button">right i</button>
      <button (click)="Ui()" class="control-button">top i</button>
      <button (click)="Di()" class="control-button">bottom i</button>
    </div>
    <div class="action-row">
      <button (click)="performMove()" class="action-button">move</button>
      <button (click)="solve()" class="action-button">solve</button>
      <button (click)="scrumble()" class="action-button">scrumble</button>
    </div>
    <div class="input-row">
      <input type="text" maxlength="120" [(ngModel)]="move" class="move-input" placeholder="RUru ...">
    </div>
  </div>
</div>
